/*public/fonts/setup.css*/
@font-face {
  font-family: Moul;
  src: url("Moul.fc76d9be66cf.ttf");
}
@font-face {
  font-family: Koulen;
  src: url("Koulen.ab810ff60903.ttf");
}
@font-face {
  font-family: Bayon;
  src: url("Bayon.0d3182adbebb.ttf");
}
@font-face {
  font-family: OdorMeanChey;
  src: url("OdorMeanChey.888d830d45a4.ttf");
}
@font-face {
  font-family: Nokora;
  src: url("Nokora.34cad2904a23.ttf");
}
@font-face {
  font-family: Rooster;
  src: url("Rooster.e698711a0a28.ttf");
}
@font-face {
  font-family: Limonf3;
  src: url("Limonf3.51186b092fe4.ttf");
}
@font-face {
  font-family: HandWriting;
  src: url("HandWriting.f25575dd13fd.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("Oswald.c8ff39290864.ttf");
}
@font-face {
  font-family: Anton;
  src: url("Anton.10c6818802ed.ttf");
}
@font-face {
  font-family: Vidaloka;
  src: url("Vidaloka.56a9676b1420.ttf");
}
@font-face {
  font-family: Courgette;
  src: url("Courgette.59c3685a73f0.ttf");
}
@font-face {
  font-family: Lobster;
  src: url("Lobster.9406d0ab606c.ttf");
}