/*static/styles/base.css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: lightgrey;
}
a:hover{
  opacity: .7;
}
.region{
  max-width: 1200px;
  margin: 0 auto;
}

body{
  font: 14px/1.5 Vidaloka, OdorMeanChey;
  background: maroon;
  color: white;
}

.widget{
  background: rgb(73, 0, 0);
}