/*static/styles/base.css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --grey: rgb(95, 95, 95);
}

a{
  text-decoration: none;
  color: var(--brown);
}

a:hover{
  opacity: .7;
}

.region{
  max-width: 1200px;
  margin: 0 auto;
}

body{
  font: 14px/1.5 Vidaloka, OdorMeanChey;
  color: var(--grey);
}

.widget{
  background: rgb(73, 0, 0);
}

